#root {
  #contenido-vistas {
    padding: 16px;
    max-width: 1280px;
    margin: 0 auto;
    .contenedor-mapa {
      height: calc(95vh - 100px);
      width: 100%;
      position: relative;
      .tooltip.interactive{
        background:white;
        color:black;
        padding:5px;
        border-radius:5px;
        font-size:12px;
      }
    }
    
  }
  nav.interno{
    margin-bottom: 80px;
    a{
      font-size: 17px;
      &.active{
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
  div.inicio,div.ecobaby, div.hechos{
    max-width: 700px;
  }
  div.ecobaby{
    .contenedor-info-control{
      border-radius: 0 0 10px 0 ;
      position:absolute;
      z-index: 1;
      width: 230px;
      background-color: #292929ee;
      padding: 8px;
      .etiqueta-fecha{
        font-weight: 700;
        font-size: 20px;
        opacity: .6
      }
      .etiqueta-hora{
        font-weight: 600;
        font-size: 28px;
        opacity: .6

      }
      .contenedor-vel{
        display: flex;

        .etiqueta-vel{
          color:#e2e2e2;
        }
      }
    }
    
  }
}
.vis-nomenclatura{
  .figura-variable{
    border-radius: 50%;
    display: inline-block;
    width: 15px;
    height:15px;
    margin: 0 5px 0 20px;
  }
}