:root {
  --tipografia-familia: "Newsreader", serif;
  line-height: 1.5;
  font-weight: 400;
  --pagina-fondo: #292929;
  --color-tipografia: rgb(184, 251, 226);
  --color-links: rgb(255, 171, 255);
  --color-links-interactuado: #FF00FF;


}

a {
  font-weight: 500;
  color: var(--color-links);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-links-interactuado);
}

body {
  font-family: "Montserrat", serif;
  background-color: var(--pagina-fondo);
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-tipografia);

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color:  var(--color-tipografia);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


label{
  color: var(--color-tipografia);

}